In [2]:
import matplotlib as plt
import pandas as pd 
import numpy as np

In [10]:
df_suicide=pd.read_csv("./master.csv")
df_suicide.head()

,country,year,sex,age,suicides_no,population,suicides/100k pop,country-year,HDI for year,gdp_for_year ($),gdp_per_capita ($),generation
0,Albania,1987,male,15-24 years,21,312900,6.71,Albania1987,NaN,"2,156,624,900",796,Generation X
1,Albania,1987,male,35-54 years,16,308000,5.19,Albania1987,NaN,"2,156,624,900",796,Silent
2,Albania,1987,female,15-24 years,14,289700,4.83,Albania1987,NaN,"2,156,624,900",796,Generation X
3,Albania,1987,male,75+ years,1,21800,4.59,Albania1987,NaN,"2,156,624,900",796,G.I. Generation
4,Albania,1987,male,25-34 years,9,274300,3.28,Albania1987,NaN,"2,156,624,900",796,Boomers

In [11]:
df_econ=pd.read_csv("./efw_cc.csv")

df_econ.head()

,year,ISO_code,countries,ECONOMIC FREEDOM,rank,quartile,1a_government_consumption,1b_transfers,1c_gov_enterprises,1d_top_marg_tax_rate,...,3_sound_money,4a_tariffs,4b_regulatory_trade_barriers,4c_black_market,4d_control_movement_capital_ppl,4_trade,5a_credit_market_reg,5b_labor_market_reg,5c_business_reg,5_regulation
0,2016,ALB,Albania,7.54,34.0,1.0,8.232353,7.509902,8.0,8.0,...,9.553657,8.963556,7.489905,10.00000,6.406138,8.214900,7.098562,6.916278,6.705863,6.906901
1,2016,DZA,Algeria,4.99,159.0,4.0,2.150000,7.817129,0.0,4.5,...,7.253894,6.872533,2.481294,5.56391,1.590362,4.127025,5.100509,5.029513,5.676956,5.268992
2,2016,AGO,Angola,5.17,155.0,4.0,7.600000,8.886739,0.0,9.5,...,5.606605,6.989244,2.024949,10.00000,2.044823,5.264754,7.064905,4.560325,4.930271,5.518500
3,2016,ARG,Argentina,4.84,160.0,4.0,5.335294,6.048930,6.0,4.0,...,5.614336,6.421600,4.811105,0.00000,4.697482,3.982547,5.419820,5.151405,5.535831,5.369019
4,2016,ARM,Armenia,7.57,29.0,1.0,7.264706,7.748532,8.0,5.0,...,9.521940,8.547556,7.194410,10.00000,6.830998,8.143241,9.102046,6.234630,6.797530,7.378069

In [19]:
country_df=df_suicide.groupby(['country']).agg({
    'suicides_no':'sum',
    'suicides/100k pop':'mean'
})
country_df

                              suicides_no  suicides/100k pop
country
Albania                              1970           3.502879
Antigua and Barbuda                    11           0.552901
Argentina                           82219          10.469328
Armenia                              1905           3.275872
Aruba                                 101           9.503095
Australia                           70111          12.992806
Austria                             50073          23.759764
Azerbaijan                           1656           1.855417
Bahamas                                93           1.247391
Bahrain                               463           1.854127
Barbados                              177           2.970433
Belarus                             59892          31.075913
Belgium                             62761          21.237903
Belize                                348           6.230625
Bosnia and Herzegovina                318           4.617083
Brazil                             226613           5.846022
Bulgaria                            36388          19.489111
Cabo Verde                             42          11.153333
Canada                             107561          12.467586
Chile                               40895          10.542043
Colombia                            53080           5.401586
Costa Rica                           6792           7.093667
Croatia                             18429          22.835267
Cuba                                41418          21.222049
Cyprus                                412           3.293596
Czech Republic                      43687          18.487547
Denmark                             15297          14.097159
Dominica                                0           0.000000
Ecuador                             20660           6.304328
El Salvador                         11683          10.541458
...                                   ...                ...
Puerto Rico                          9043          10.186237
Qatar                                 574           1.787360
Republic of Korea                  261730          25.135618
Romania                             72777          12.489671
Russian Federation                1209742          34.892377
Saint Kitts and Nevis                   0           0.000000
Saint Lucia                           230           7.202738
Saint Vincent and Grenadines          124           5.755433
San Marino                              4           4.045000
Serbia                              24179          22.164120
Seychelles                             98           7.480093
Singapore                           10089          17.045645
Slovakia                            13437          12.568788
Slovenia                            10615          27.827857
South Africa                         7321           0.964542
Spain                              100202           9.432957
Sri Lanka                           55641          35.295152
Suriname                             2166          21.316429
Sweden                              37795          14.658436
Switzerland                         26217          19.024087
Thailand                           110643           7.073862
Trinidad and Tobago                  4039          13.825648
Turkey                              10131           2.371071
Turkmenistan                         8624           8.605546
Ukraine                            319950          26.582321
United Arab Emirates                  622           1.317917
United Kingdom                     136805           7.502473
United States                     1034013          13.819812
Uruguay                             13138          19.461190
Uzbekistan                          34803           8.099129

[101 rows x 2 columns]